global
    maxconn 2000
    nbthread 1

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200

    server instance-1 instance-1:8003 check
    server instance-2 instance-2:8003 check
